.DS_Store

!gradle/wrapper/gradle-wrapper.jar
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
application-wow.properties
.gradle
.idea
build
*.iws
*.iml
*.ipr
out/
